<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SwankRank</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Puritan' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="header">
            <div id="menu">
            </div>
        </div>
        <div id="slideshow">
          <div id="intro-slide" class="slide">
          </div>
          <div id="language-slide" class="slide hidden">
          </div>
        </div>
        <script src="http://yui.yahooapis.com/3.6.0pr3/build/yui/yui-min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
