<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>LinkedIn HackDay</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="header">
            <div id="menu">
            </div>
        </div>
        <div id="intro-slide" class="slide">
        </div>
        <div id="language-slide" class="slide">
        </div>
        <div id="something-slide" class="slide">
        </div>
        <div id="lol-slide" class="slide">
        </div>
        <script src="http://localhost:3000/build/yui/yui-min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
