<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>LinkedIn HackDay | PollIn</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="header">
            <div id="logo">PollIn</div>
            <div id="menu">
            </div>
        </div>
        <div id="intro-slide" class="slide">
          <div class="ribbon-wrapper">
            <div class="ribbon-front">
              <h1 id="welcome-title">Welcome to <em>Poll</em><b>in</b></h1>
              <h2 id="welcome-sub"><em>live polls</em> for your <b>slideshows</b></h2>
            </div>
            <div class="ribbon-edge-topleft"></div>
            <div class="ribbon-edge-topright"></div>
            <div class="ribbon-edge-bottomleft"></div>
            <div class="ribbon-edge-bottomright"></div>
            <div class="ribbon-back-left"></div>
            <div class="ribbon-back-right"></div>
          <div class="ribbon-sortable">
          </div>
          </div>
        </div>
        <div id="language-slide" class="slide">
        </div>
        <div id="something-slide" class="slide">
        </div>
        <div id="lol-slide" class="slide">
        </div>
        <script src="http://localhost:3000/build/yui/yui-min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
